<div class="row">
<div class="col-sm-12">
<center> <h1>Eat a Burger!</h1>
<img src="/assets/img/img-large-burger.jpg" alt="">

<h2>What burger do you like ?</h2>

<form class= "create-form" action="/burgers/create" method="POST">
    <input type="text" name="burgername" >
    <input type="submit" value="Submit">
</form>
</center>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">

<h2>Unfinished burgers:</h2>
<ul>
{{#each burgers }}
 {{#unless this.devoured}}
  <div class="well">{{burger_name}}</div>
    <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EAT IT!</button>
        </form>
        {{/unless}}
{{/each}}
</ul>
</div>
<div class="col-sm-6">

<h2>Finished burgers:</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
<div class="well">{{burger_name}}</div>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>